* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a {
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* CSS Reset Ends */

body {
  height: 100vh;
  position: relative;
}

section.imageHolder img{
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.forms {
  height: 100vh;
}

section.backgroundHolder {
  padding: 20px;
  border: 10px solid rgba(15,80,95, 0.5);
  background-clip: border-box;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
  background-size: 1178px 1380px;
  background-position: cover;
  background-repeat: no-repeat;
  background-color: black;
}

p {
  margin: 100px 200px 100px 200px;
  text-align: justify;
  font-size: 20px;
  color: white;
}

form {
  margin-left: 200px;
}

#fname,
#lname {
  font-size: 20px;
  font-weight: bold;
}

input {
  border: 1px solid black;
  margin: 10px;
  font-size: 20px;
}

.clickButton {
  height: 100vh;
}

button {
  margin-left: 200px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
