* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a {
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* CSS Reset Ends */

body {
  height: 100vh;
  position: relative;
  /* background-color: #0697C7; */
  color: white;
}

section#welcome {
  height: 100vh;
  overflow: hidden;
}

#welcome button {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: 60px;
  border: 2px solid black;
  border-radius: 30px;
  margin: 40px 0;
  transform: translateX(-50%);
  background-color: #09ced9;
  font-size: 16px;
  font-weight: bold;
}

h1 {
  /* position: relative; */
  margin: 40px;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  color: white;
}

section.imageHolder img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.forms {
  height: 100vh;
}

section.backgroundHolder {
  /* display: flex; */
  padding: 20px;
  /* border: 10px solid rgba(15,80,95, 0.5); */
  background-clip: border-box;
  background-image: url("https://wallpapercave.com/wp/wp2100820.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-color: black; */
}

#about {
  min-height: unset;
}

#about article {
  width: 100%;
  max-width: 1000px;
  padding: 80px 10px;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(167,167,176, 0.7);
  color: white;
}


#about h2 {
  padding-bottom: 20px;
}

#services {
  padding: 80px 0;
  background-image: url("https://img.wallpapic.com/i8029-711-65/medium/abstract-green-yellow-line-wallpaper.jpg");
  background-size: cover;
  background-position: center center;
}

#services ul {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  background-color: rgba(206,163,36, 0.8);
}

#services ul li {
  padding-bottom: 10px;
  padding-top: 20px;
}

#services ul li h2,
#services ul li p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#contact {
  background-color: #CEA324;
}

#contact form {
  width: 100%;
  max-width: 400px;
  padding: 40px 20px;
  margin: 0 auto;
}

#contact input, 
#contact label {
  display: block;
  width: 100%;
}

#contact label {
  font-size: 12px;
  padding-bottom: 10px;
}

#contact input {
  height: 60px;
  padding: 0 10px;
  margin-bottom: 30px;
  font-size: 18px;
  background-color: white;
}

#contact button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #DF6539;
}
